.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;

  .hero {
    max-width: 200px;
  }

  span {
    display: flex;
    gap: 20px;
    justify-content: center;

    a {
      margin: 0;

      img {
        width: 40px;
        transition: transform 300ms ease-out;
      }

      img:hover {
        transform: translateY(-2px) scale(1.05);
      }
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }

  button:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
  }

  button:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
}

.heroImg {
  border-radius: 50%;
}

.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  right: 0;
  width: 25px;
}

.colorMode:hover {
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}