.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; /* Menambahkan ini untuk memastikan semua elemen terpusat */
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; /* Menambahkan ini untuk memastikan semua elemen form terpusat */
}

.formGroup {
  width: 250px; /* Menetapkan lebar tetap untuk form group */
}

textarea, input:not([type='submit']) {
  height: 50px;
  padding-left: 16px;
  width: 100%; /* Menetapkan lebar 100% agar sesuai dengan formGroup */
}

textarea {
  padding-top: 16px;
  resize: none;
  height: 150px; /* Menyesuaikan tinggi textarea */
}

input, textarea {
  border-radius: 20px;
  border: #888 1px solid;
  box-sizing: border-box;
  justify-self: center;
  background-color: var(--background-color);
  color: var(--form-text-color);
}

::placeholder {
  color: var(--form-text-color);
}

input[type='submit'] {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin: auto;
}

input[type='submit']:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}
